html {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#canvas {
  width: 100%;
}

#viewContainer {
  width: 85%;
  float: left;
}

#pointsContainer {
  background-color: black;
  color: white;
  width: 15%;
  float: right;
}

* {
  touch-action: manipulation;
}
