<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>WebGL Demo</title>
    <link rel="stylesheet" href="/main.css" type="text/css" />
  </head>

  {{{body}}}

  <body>
    <div id="viewContainer">
      <canvas id="canvas"></canvas>
    </div>

    <script>
      const vs_src = `{{{vsSource}}}`; const fs_src = `{{{fsSource}}}`;
      {{{baseJs}}}
    </script>
  </body>
</html>
