<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>WebGL Demo</title>
    <link rel="stylesheet" href="/main.css" type="text/css" />
  </head>

  {{{body}}}

  <body>
    <div id="viewContainer">
      <canvas id="canvas"></canvas>
    </div>

    <div id="pointsContainer">
      <h4>FlappyWebGL: <strong id="won">0</strong> </h4>
      <h4>FPS: <strong id="fps"></strong></h4>
    </div>

    <script>
      const vs_src = `{{{vsSource}}}`; const fs_src = `{{{fsSource}}}`;
      {{{baseJs}}}
    </script>
  </body>
</html>
